# See root .gitignore for more patterns

# local env files
.env*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# next.js
.next/
out/

# typescript
*.tsbuildinfo
next-env.d.ts 